.workplaceList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 10px;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .workplaceList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 758px) {
  .workplaceList {
    grid-template-columns: repeat(2, 1fr);
  }
}
